$background-image-largescreen: '../images/fruit-1213041.jpg';
$background-image-smallscreen: '../images/pear-background.jpg';
$heading-font-color: #FFD009;
$heading-font: 'Abril Fatface', cursive;
$body-font: 'Droid Sans', sans-serif;
$box-background: #DBBF7F;
$box-background-transparent: rgba(219,191,127, .75);
$orange: #cf7017;

body{
  background-image: url($background-image-largescreen);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: $body-font;
}

.btn {
  font-family: $body-font;
}

@media only screen and (max-width: 800px) {
  body {
        background-image: url($background-image-smallscreen);
    }
}

h1 {
  color: $heading-font-color;
  font-family: $heading-font;
  font-size: 46px;
  text-align: center;
}

.meal-box {
  margin: 1em;
  padding: 0.5em;
  background-color: $box-background-transparent;
  border-radius: 8px;
}

.meal-box h2 {
  text-align: center;
  font-family: $heading-font;
  color: white;
}

#add-box {
  background-color: $box-background-transparent;
}

#detail-box {
  background-color: $box-background-transparent;
}

.selected {
  color: $orange;
}
